<!-----------------------------------------------------
* Programmer: Lance Zotigh (lzotigh1@cnm.edu)
* Purpose: A simple program that calculates what the future depreciable value of an asset will be.
------------------------------------------------------->

@page "/donutchart"

<h3>DonutChart</h3>

@code {

}
