@page "/samplepage"

@inject SuccessfullyCalculatedResults CalculatedService

<h3>SamplePage</h3>

<ul>
    <li>Pop</li>
    <li>Pop</li>
    <li>Pop!</li>
</ul>

<div>
    @UIMessage
</div>

@code {
    string UIMessage = "UI Test Message";
}
